<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wyb.personal.dao.UserMapper">
    <resultMap id="BaseResultMap" type="cn.wyb.personal.model.po.UserPO">
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="uname" jdbcType="VARCHAR" property="uname"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <resultMap id="userMap" type="cn.wyb.personal.model.po.UserPO">
        <id column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="uname" jdbcType="VARCHAR" property="uname"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <collection property="roles" ofType="cn.wyb.personal.model.po.RolePO">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="modules" ofType="cn.wyb.personal.model.po.ModulePO">
                <id property="mid" column="mid"/>
                <result property="mname" column="mname"/>
            </collection>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    uid, username, password, uname, age, sex, address
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from p_user
        where uid = #{uid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.wyb.personal.model.po.UserPO">
    insert into p_user (uid, username, password, 
      uname, age, sex, address
      )
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{uname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.wyb.personal.model.po.UserPO">
        insert into p_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="uname != null">
                uname,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="uname != null">
                #{uname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.wyb.personal.model.po.UserPO">
        update p_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="uname != null">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.wyb.personal.model.po.UserPO">
    update p_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
    <select id="queryPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM p_user
        <where>
            <if test="uid != null">
                AND uid = #{uid,jdbcType=INTEGER}
            </if>
            <if test="uname != null and address != ''">
                AND uname LIKE CONECT(`%`, #{uname,jdbcType=VARCHAR},`%`)
            </if>
            <if test="username != null and address != ''">
                AND username LIKE CONECT(`%`, #{username,jdbcType=VARCHAR},`%`)
            </if>
            <if test="age != null">
                AND age = #{age,jdbcType=SMALLINT}
            </if>
            <if test="sex != null and address != ''">
                AND sex = #{sex,jdbcType=VARCHAR}
            </if>
            <if test="address != null and address != ''">
                AND address LIKE CONECT(`%`, #{address,jdbcType=VARCHAR},`%`)
            </if>
        </where>
    </select>
    <select id="findByUserName" parameterType="string" resultMap="userMap">
        SELECT u.*,r.*,m.*
        FROM p_user u
        LEFT JOIN user_role ur on ur.uid=u.uid
        LEFT JOIN role r on r.rid=ur.rid
        LEFT JOIN module_role mr on mr.rid=r.rid
        LEFT JOIN module m on mr.mid=m.mid
        WHERE username=#{username};
    </select>
</mapper>